.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .wrapper {
    flex: 1 0 0;
  }
}

.page-post {
  .hero-image {
    img {
      width: 100%;
    }
    p {
      font-style: italic;
      color: $steel-light;
      font-size: 0.8em;
    }
  }
}