.social {
  display: block;
  img {
    width: 20px;
    height: 20px;
  }
  a {
    padding: 10px;
    display: inline-block;
    &:hover {
      opacity: 0.8;
    }
  }
}

.page-team {
  .social {
    a:first-child {
      padding-left: 0;
    }
    margin-bottom: 10px;
  }
}