---
layout: default
bodyClass: "page-post"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div id="breadcrumbs">
            {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
            <a href="/">Home</a>
            / <a href="/blog">Blog</a>
            / {{ page.title }}
            </div>
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    {% if page.hero_image %}
        <div class="row justify-content-start">
            <div class="col-lg-8 col-md-12 hero-image">
                <img src="{{ page.hero_image }}" alt="{{ page.hero_image_alt }}" />
                {% if page.hero_image_alt %}
                    <p>{{ page.hero_image_alt }}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="row justify-content-start">
        <div class="col-lg-8 col-md-12">
            {{ content }}
            <hr/>
            <p>
                Posted {{ page.date | date_to_string }}, written by

                {% assign matching_member = false %}
                {% for team in site.team %}
                    {% if team.title == page.author %}
                        {% assign matching_member = true %}
                        <a href="{{ team.url | relative_url }}">{{ team.title }}</a>
                    {% endif %}
                {% endfor %}
                {% if matching_member == false %}
                    {{ page.author }}
                {% endif %}
            </p>
            {% include share-buttons.html %}
        </div>
    </div>
</div>